


.image-container {
  position: relative;
   margin-top: 20px !important;
}

.iframe {
top:365px !important
}

.team-logo {
  padding: 0px 20px 0px 20px;
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
  .iframe {
top:130px !important
}


}
